In [ ]:
#  Create like between Google Drive &  Colab  : Run it every time work session as first step to start
# ربط Google Drive (شغل كل جلسة جديدة)
from google.colab import drive
drive.mount('/content/drive')
print("✅ Drive مربوط!")

In [ ]:
# ✅ تحقق من أنك في M1 قبل البدء
import os
os.chdir('/content/M1') # Change directory to M1
assert "M1" in os.getcwd(), "⚠️ أنت لست داخل مجلد M1! انتقل إليه أولاً."
print("✅ أنت داخل M1 — جاهز للعمل!")

In [ ]:
# إعداد Git و PAT (شغل كل جلسة)
%%bash
git config --global user.name "Majed9552"
git config --global user.email "magedabdullah008@gmail.com"
export GITHUB_PAT=" "

# Clone إذا جديد، أو Pull إذا موجود (يتجنب الأخطاء)
cd /content
if [ ! -d "M1/.git" ]; then
    echo "إنشاء M1 جديد..."
    git clone https://Majed9552:${GITHUB_PAT}@github.com/Majed9552/M1.git
else
    echo "M1 موجود، تحديثه..."
    cd M1
    git pull origin main
fi

# عرض الحالة
git status
echo "✅ Git جاهز!"

# please dont forgete to push all exchanges as last step to save your work at last cell in the file

## **Data manipulation and processing**

* Create dataframe using Pandas
* Perform row level manipulations such as drop rows and columns
* Fill in Null values
* GroupBy and use **Describe** for dataframe
* Concatenating and Merging dataframes

### **Create dataframe using Pandas**

In [ ]:
# import libraries

import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Create a dataframe called df

df = pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})
df['States']="CA NV AZ".split()
df.set_index('States',inplace=True)
print(df)

### **Perform row level manipulations such as drop rows and columns**

In [ ]:
print("\nDropping any rows with a NaN value\n",'-'*35, sep='')
print(df.dropna(axis=0))

In [ ]:
print("\nDropping any column with a NaN value\n",'-'*35, sep='')
print(df.dropna(axis=1))

In [ ]:
print("\nDropping a row with a minimum 2 NaN value using 'thresh' parameter\n",'-'*68, sep='')
print(df.dropna(axis=0, thresh=4))

### **Fill in Null values**

In [ ]:
print("\nFilling values with a default value\n",'-'*35, sep='')
print(df.fillna(value='FILL VALUE')) # You can include any string value here to fill null values

In [ ]:
print("\nFilling values with a computed value (mean of column A here)\n",'-'*60, sep='')
print(df.fillna(value=df['A'].mean()))

### **GroupBy** and use **Describe** for dataframe

In [ ]:
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
df

In [ ]:
byComp = df.groupby('Company')
print("\nGrouping by 'Company' column and listing mean sales\n",'-'*55, sep='')
print(byComp.mean(numeric_only=True))

In [ ]:
print("\nGrouping by 'Company' column and listing sum of sales\n",'-'*55, sep='')
print(byComp.sum())

In [ ]:
print("\nAll in one line of command (Stats for 'FB')\n",'-'*65, sep='')
print(pd.DataFrame(df.groupby('Company').describe().loc['FB']).transpose())

In [ ]:
(pd.DataFrame(df.groupby('Company').describe().loc['FB'])).transpose()

In [ ]:
(pd.DataFrame(df.groupby('Company').describe().loc['FB'])).transpose()

In [ ]:
print("\nSame type of extraction with little different command\n",'-'*68, sep='')
print(df.groupby('Company').describe().loc[['GOOG', 'MSFT']])

### **Merge dataframes**

In [ ]:
# Merging two data frames
# Creating data frames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df1

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[0, 1, 2, 3])

In [ ]:
df2

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8,9,10,11])

In [ ]:
df3

In [ ]:
print("\nThe DataFrame number 1\n",'-'*30, sep='')
print(df1)

In [ ]:
print("\nThe DataFrame number 2\n",'-'*30, sep='')
print(df2)

In [ ]:
print("\nThe DataFrame number 3\n",'-'*30, sep='')
print(df3)

In [ ]:
#concatenation
df_cat1 = pd.concat([df1,df2,df3], axis=0)
print("\nAfter concatenation along row\n",'-'*30, sep='')
print(df_cat1)
df_cat1.loc[2]

In [ ]:
df_cat1.iloc[4]

In [ ]:
df_cat2 = pd.concat([df1,df2,df3], axis=1)
print("\nAfter concatenation along column\n",'-'*60, sep='')
print(df_cat2)

In [ ]:
df_cat2.fillna(value=0, inplace=True)
print("\nAfter filling missing values with zero\n",'-'*60, sep='')
print(df_cat2)

In [ ]:
# merging by a common key

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K8', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
print("\nThe DataFrame 'left'\n",'-'*30, sep='')
print(left)

In [ ]:
print("\nThe DataFrame 'right'\n",'-'*30, sep='')
print(right)

In [ ]:
merge1= pd.merge(left,right,how='inner',on='key')
print("\nAfter simple merging with 'inner' method\n",'-'*50, sep='')
print(merge1)

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='left',on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='right',on=['key1', 'key2'])

In [ ]:
#join operators
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2'])

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left

In [ ]:
right

In [ ]:
left.join(right)

In [ ]:
left.join(right, how='outer')

In [ ]:
# use of apply functions

In [ ]:
# Define a function
def testfunc(x):
    if (x> 500):
        return (10*np.log10(x))
    else:
        return (x/10)

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4,5,6,7,8,9,10],
                   'col2':[444,555,666,444,333,222,666,777,666,555],
                   'col3':'aaa bb c dd eeee fff gg h iii j'.split()})
df

In [ ]:
df['FuncApplied'] = df['col2'].apply(lambda x : np.log(x))
print(df)

In [ ]:
df['col3length']= df['col3'].apply(len)
print(df)

In [ ]:
df['FuncApplied'].apply(lambda x: np.sqrt(x))

In [ ]:
print("\nSum of the column 'FuncApplied' is: ",df['FuncApplied'].sum())

In [ ]:
print("Mean of the column 'FuncApplied' is: ",df['FuncApplied'].mean())

In [ ]:
print("Std dev of the column 'FuncApplied' is: ",df['FuncApplied'].std())

In [ ]:
print("Min and max of the column 'FuncApplied' are: ",df['FuncApplied'].min(),"and",df['FuncApplied'].max())

In [ ]:
### Deletion, sorting, list of column and row names

In [ ]:
print("\nName of columns\n",'-'*20, sep='')
print(df.columns)

In [ ]:
l = list(df.columns)
print("\nColumn names in a list of strings for later manipulation:",l)

In [ ]:
print("\nDeleting last column by 'del' command\n",'-'*50, sep='')
del df['col3length']
print(df)
df['col3length']= df['col3'].apply(len)

In [ ]:
df.sort_values(by='col2') #inplace=False by default

In [ ]:
df.sort_values(by='FuncApplied',ascending=False) #inplace=False by default

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[None,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
df.isnull()

In [ ]:
df.fillna('FILL')

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
pd.merge(df1, df2, how='inner')

In [ ]:
pd.merge(df1, df2, how='outer')

In [ ]:
pd.merge(df1, df2, how='left')

In [ ]:
pd.merge(df1, df2, how='right')

## **Python container objects and functions** for data processing

In this session, we are going to learn the following key topics:
- Tuples
- Set
- Dictionary
- Function
- Lambda
- Iterator
- Generator
- Map
- Reduce
- Filter

### Tuples

In Python, tuples are similar to lists but they are immutable i.e. they cannot be changed. You would use the tuples to present data that shouldn't be changed, such as days of week or dates on  a calendar.

In this section, we will get a brief overview of the following key topics:

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. But, Tuples work very similar to lists but the  major difference is tuples are immutable.

## Constructing Tuples

The construction of tuples use () with elements separated by commas where in the arguments will be passed within brackets. For example:

In [ ]:
# Can create a tuple with mixed types
t = (1,2,3)

In [ ]:
# Check len just like a list
type(t)

In [ ]:
# Can also mix object types
t = ('one',2)

# Show
l = ['sdf','sf']
l.sort()
l

In [ ]:
# Use indexing just like we did in lists
t[0]

In [ ]:
# Slicing just like a list
t[-1]

#### Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Let's see two samples of tuple built-in methods:

In [ ]:
# Use .index to enter a value and return the index
t.index('one')

In [ ]:
# Use .count to count the number of times a value appears
t.count('one')

#### Immutability

As tuples are immutable, it can't be stressed enough and add more into it. To drive that point home:

In [ ]:
# Create a new tuple with the modified first element
new_t = ('change',) + t[1:]
print(new_t)

Because tuple being immutable they can't grow. Once a tuple is made we can not add to it.

#### When to use Tuples

You may be wondering, "Why to bother using tuples when they have a few available methods?"

Tuples are not used often as lists in programming but are used when immutability is necessary. While you are passing around an object and if you need to make sure that it does not get changed then tuple become your solution. It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have a complete understanding of their immutability.

### Sets

Sets are an unordered collection of *unique* elements which can be constructed using the set() function.

Let's go ahead and create a set to see how it works.

In [ ]:
x = set()

In [ ]:
# We add to sets with the add() method
x.add(3)

In [ ]:
#Show
x

Note that the curly brackets do not indicate a dictionary! Using only keys, you can draw analogies as a set being a dictionary.

We know that a set has an only unique entry. Now, let us see what happens when we try to add something more that is already present in a set?

In [ ]:
# Add a different element
x.add(2)

In [ ]:
#Show
x

In [ ]:
# Try to add the same element
x.add(1)

In [ ]:
#Show
x

Notice, how it won't place another 1 there as a set is only concerned with unique elements! However, We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [ ]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]

In [ ]:
# Cast as set to get unique values
set(l)

### Dictionaries

We have learned about "Sequences" in the previous session. Now, let's switch the gears and learn about "mappings" in Python. These dictionaries are nothing but hash tables in other programming languages.

In this section, we will learn briefly about an introduction to dictionaries and what it consists of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a Dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

Before we dive deep into this concept, let's understand what are Mappings?

Mappings are a collection of objects that are stored by a "key". Unlike a sequence, mapping store objects by their relative position. This is an important distinction since mappings won't retain the order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {True:'value1','key2':'value2','key1':'valuedfvdfg','key1':'abc'}
my_dict

In [ ]:
# Call values by their key
my_dict['key2']

Note that dictionaries are very flexible in the data types they can hold. For example:

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
#Let's call items from the dictionary
my_dict['key2'][2]

In [ ]:
# Can call an index on that value
my_dict['key3'][0]

In [ ]:
#Can then even call methods on that value
my_dict['key3'][0].upper()

We can effect the values of a key as well. For instance:

In [ ]:
my_dict['key1']

In [ ]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [ ]:
#Check
my_dict['key1']

Note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could also use += or -= for the above statement. For example:

In [ ]:
# Set the object equal to itself minus 123
my_dict['key1'] -= 123
my_dict['key1']

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [ ]:
# Create a new dictionary
d = {}
type(d)

In [ ]:
# Create a new key through assignment
d['animal'] = 'xyz'
d

In [ ]:
# Can do this with any object
d['answer'] = 42

In [ ]:
#Show
d

#### Nesting with Dictionaries

Let's understand how flexible Python is with nesting objects and calling methods on them. let's have a look at the dictionary nested inside a dictionary:

In [ ]:
# Dictionary nested inside a dictionary nested in side a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

Thats the inception of dictionaries. Now, Let's see how we can grab that value:

In [ ]:
# Keep calling the keys
d['key1']['nestkey']

#### A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few methods:

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys
f=d.keys()
list(f)[0]

In [ ]:
# Method to grab all values
type(d.values())

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

#### Dictionary Comprehensions

Just like List Comprehensions, Dictionary Data Types also support their own version of comprehension for quick creation. It is not as commonly used as List Comprehensions, but the syntax is:

In [ ]:
{x:x**2 for x in range(10)}

One of the reasons is the difficulty in structuring the key names that are not based on the values.

### Functions

## Introduction to Functions

What is a function in Python and how to create a function?

Functions will be one of our main building blocks when we construct larger and larger amount of code to solve problems.

**So what is a function?**

A function groups a set of statements together to run the statements more than once. It allows us to specify parameters that can serve as inputs to the functions.

Functions allow us to reuse the code instead of writing the code again and again. If you recall strings and lists, remember that len() function is used to find the length of a string. Since checking the length of a sequence is a common task, you would want to write a function that can do this repeatedly at command.

Function is one of the most basic levels of reusing code in Python, and it will also allow us to start thinking of program design.

#### def Statements

Now, let us learn how to build a function and what is the syntax in Python.

The syntax for def statements will be in the following form:

In [ ]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (doc-string) goes
    '''
    # Do stuff here
    #return desired result

We begin with def then a space followed by the name of the function. Try to keep names relevant and simple as possible, for example, len() is a good name for a length() function. Also be careful with names, you wouldn't want to call a function the same name as a [built-in function in Python](https://docs.python.org/2/library/functions.html) (such as len).

Next, comes the number of arguments separated by a comma within a pair of parenthesis which acts as input to the defined function,  reference them and the function definition with a colon.  

Here comes the important step to indent to begin the code inside the defined functions properly. Also remember, Python makes use of *whitespace* to organize code and lot of other programming languages do not do this.

Next, you'll see the doc-string where you write the basic description of the function. Using iPython and iPython Notebooks, you'll be able to read these doc-strings by pressing Shift+Tab after a function name. It is not mandatory to include docstrings with simple functions, but it is a good practice to put them as this will help the programmers to easily understand the code you write.

After all this, you can begin writing the code you wish to execute.

The best way to learn functions is by going through examples. So let's try to analyze and understand examples that relate back to the various objects and data structures we learned.

#### Example 1: A simple print 'hello' function

In [ ]:
def say_hello():
    print('hello')

Call the function

In [ ]:
say_hello()

#### Example 2: A simple greeting function
Let's write a function that greets people with their name.

In [ ]:
def greeting(name):
    print('Hello %d' %name)

In [ ]:
x

In [ ]:
x = greeting(90)

In [ ]:
x

#### Using return
Let's see some examples that use a return statement. Return allows a function to "return" a result that can then be stored as a variable, or used in whatever manner a user wants.

### Example 3: Addition function

In [ ]:
def add_num(num1,num2):
    return num1+num2

In [ ]:
add_num(4,5)

In [ ]:
# Can also save as variable due to return
result = add_num(4,5)
result

In [ ]:
print(result)

What happens if we input two strings?

In Python we don't declare variable types, this function could be used to add numbers or sequences together! Going forward, We'll learn about adding in checks to make sure a user puts in the correct arguments into a function.

Let's also start using *break*,*continue*, and *pass* statements in our code. We introduced these during the while lecture.

Now, let's see a complete example of creating a function to check if a number is prime (a common interview exercise).

We know a number is said to be prime if that number is only divisible by 1 and itself. Let's write our first version of the function to check all the numbers from 1 to N and perform modulo checks.

In [ ]:
def is_prime(num):
    '''
    Naive method of checking for primes.
    '''
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
    else: # If never mod zero, then prime
        print('prime')

In [ ]:
is_prime(17)

Note that how we break the code after the print statement! We can actually improve this by only checking to the square root of the target number, also we can disregard all even numbers after checking for 2. We'll also switch to returning a boolean value to get an example of using return statements:

In [ ]:
import math

def is_prime(num):
    '''
    A Better method of checking for primes.
    '''
    if num % 2 == 0 and num > 2:
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [ ]:
for i in []:
    if 2 % i == 0:
        print("false")
print("true")

## **Object Oriented Programming**

- Creating Classes
- Methods

__Object Oriented Programming (OOP)__ is a programming paradigm that allows abstraction through the concept of interacting entities. This programming works contradictory to conventional model and is procedural, in which programs are organized as a sequence of commands or statements to perform.

We can think an object as an entity that resides in memory, has a state and it's able to perform some actions.

More formally objects are entities that represent **instances** of a general abstract concept called **class**. In `Python`, "attributes" are the variables defining an object state and the possible actions are called "methods".

In Python, everything is an object also classes and functions.

### **How to define classes**

#### Creating a class

Suppose we want to create a class, named Person, as a prototype, a sort of template for any number of 'Person' objects (instances).

The following python syntax defines a class:

    class ClassName(base_classes):
        statements

Class names should always be uppercase (it's a naming convention).

Say we need to model a Person as:

* Name
* Surname  
* Age

In [ ]:
class Person:
    pass

john_doe = Person()
john_doe.name = "Alec"
john_doe.surname = "Baldwin"
john_doe.year_of_birth = 1958


print(john_doe)
print("%s %s was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

In [ ]:
class Person:
    pass

The following example defines an empty class (i.e. the class doesn't have a state) called _Person_ then creates a _Person_ instance called _john_doe_ and adds three attributes to _john_doe_. We see that we can access objects attributes using the "dot" operator.

This isn't a recommended style because classes should describe homogeneous entities. A way to do so is the following:

In [ ]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name1 = name
        self.surname = surname
        self.year_of_birth = year_of_birth

    __init__(self, ...)
Is a special _Python_ method that is automatically called after an object construction. Its purpose is to initialize every object state. The first argument (by convention) __self__ is automatically passed either and refers to the object itself.

In the preceding example, `__init__` adds three attributes to every object that is instantiated. So the class is actually describing each object's state.

We cannot directly manipulate any class rather we need to create an instance of the class:

In [ ]:
alec = Person("Alechgffh", "Baldwin", 1958)
print(alec)
print("%s %s was born in %d." % (alec.name1, alec.surname, alec.year_of_birth))


We have just created an instance of the Person class, bound to the variable `alec`.

#### Methods

In [ ]:
class Person:
    def __init__(a, name, surname, year_of_birth):
        a.name = name
        a.surname = surname
        a.year_of_birth = year_of_birth

    def age(a, current_year):
        return current_year - a.year_of_birth

    def __str__(a):
        return "%s %s was born in %d ." % (a.name, a.surname, a.year_of_birth)

alec = Person("Alec", "Baldwin", 1958)
print(alec)
print(alec.age(2014))

We defined two more methods `age` and  `__str__`. The latter is once again a special method that is called by Python when the object has to be represented as a string (e.g. when has to be printed). If the `__str__` method isn't defined the **print** command shows the type of object and its address in memory. We can see that in order to call a method we use the same syntax for attributes (**instance_name.instance _method**).

#### Bad practice

It is possible to create a class without the `__init__` method, but this is not a recommended style because classes should describe homogeneous entities.

In [ ]:
class Person:

    def set_name(self, name):
        self.name = name

    def set_surname(self, surname):
        self.surname = surname

    def set_year_of_birth(self, year_of_birth):
        self.year_of_birth = year_of_birth

    def age(self, current_year):
        return current_year - self.year_of_birth

    def __str__(self):
        return "%s %s was born in %d ." \
                % (self.name, self.surname, self.year_of_birth)

In this case, an empty instance of the class Person is created, and no attributes have been initialized while instantiating:

In [ ]:
president = Person()

This raises an Attribute Error... We need to set the attributes:

In [ ]:
president.set_name('John')
president.set_surname('Doe')
president.set_year_of_birth(1940)

In [ ]:
print('Mr', president.name, president.surname,
      'is the president, and he is very old. He is',
      president.age(2014))

# Lab Activity 4

**Data-Manipulation & Processing**

In [ ]:
# 1.  Create a brand-new DataFrame from scratch
# ---------------------------------------------------------
import pandas as pd, numpy as np, datetime as dt

sales_df = pd.DataFrame({
    "OrderID"   : range(1,11),
    "Region"    : np.random.choice(["North","South","East","West"], 10),
    "SalesRep"  : np.random.choice(["Ali","Sara","John"], 10),
    "Amount"    : np.round(np.random.uniform(100, 1000, 10), 2),
    "OrderDate" : pd.date_range(dt.date.today(), periods=10)
})
sales_df.head()

In [ ]:
# 2.  Row-level manipulations (drop rows / columns)
# ---------------------------------------------------------
# drop rows with Amount < 300
sales_df = sales_df[sales_df.Amount >= 300]

# drop column 'OrderID'
sales_df = sales_df.drop(columns=["OrderID"])
sales_df.head()

In [ ]:
# 3.  Fill missing values
# ---------------------------------------------------------
# inject NaN randomly
sales_df.loc[np.random.choice(sales_df.index, 3), "Amount"] = np.nan

# fill NaN with column mean
sales_df["Amount"] = sales_df["Amount"].fillna(sales_df["Amount"].mean())
sales_df.isna().sum()

In [ ]:
# 4.  GroupBy + describe
# ---------------------------------------------------------
grouped = sales_df.groupby("Region")["Amount"].describe()
grouped

In [ ]:
# 5.  Concatenation & Merging
# ---------------------------------------------------------
# second tiny dataframe
targets_df = pd.DataFrame({
    "Region": ["North","South","East","West"],
    "Target": [2500, 2200, 2300, 2600]
})

# merge on Region
merged = sales_df.merge(targets_df, on="Region", how="left")
merged.head()

In [ ]:
# Git & push all exchanges : Run it every time work session as Last  step to save all exchanges

%%bash

# 1. go Indide M1
cd M1

# 2. Add file to main
git add Lab_4.ipynb

# 3. git exchanges
git commit -m "feat: Data-Manipulation & Processing : add DataFrame creation & row-drop examples  Lab_4.ipynb"

# 4. Push into  GitHub
git push origin main

**Python Containers & Functional Tools**

In [ ]:
# Tuples – immutable
# --------------------------------------------
point = (3, 4)
x, y = point
print("x =", x, "y =", y)

In [ ]:
# Set – unique elements
# --------------------------------------------
fruits = {"apple", "banana", "apple", "orange"}
print("Unique fruits:", fruits)

In [ ]:
# Dictionary – key/value
# --------------------------------------------
prices = {"apple": 3.5, "banana": 2.0, "orange": 4.0}
print("Apple costs", prices["apple"], "EGP")

In [ ]:
# Function vs Lambda
# --------------------------------------------
def square(x): return x ** 2
cube   = lambda x: x ** 3

print("square(5) =", square(5), "| cube(5) =", cube(5))

In [ ]:
# Iterator & Generator
# --------------------------------------------
def gen_fib(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

print("First 7 Fibonacci:", list(gen_fib(7)))

In [ ]:
# map, filter, reduce
# --------------------------------------------
from functools import reduce

nums = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x ** 2, nums))
evens   = list(filter(lambda x: x % 2 == 0, nums))
total   = reduce(lambda x, y: x + y, nums)

print("squared:", squared, "| evens:", evens, "| sum:", total)

** Object-Oriented Programming**

In [ ]:
# Simple class with method
# --------------------------------------------
class Employee:
    raise_rate = 1.10  # class variable

    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def apply_raise(self):
        self.salary = int(self.salary * self.raise_rate)

    def __str__(self):
        return f"{self.name} earns {self.salary} EGP"

# create instances
emp1 = Employee("Maged", 5000)
emp1.apply_raise()
print(emp1)